<!-- navbar  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <div class="container-fluid">
        <a class="navbar-brand">Students Log</a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- first page router link  -->
                <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" [routerLink]="['']">Entry Form</a>
                </li>

                <!-- second page router link  -->
                <li class="nav-item" routerLinkActive="active">
                    <a class="nav-link" [routerLink]="['listPage']">Student List</a>
                </li>

            </ul>

            <!-- number of student entries -->
            <div class="nav-item float-end">
                <span class="badge badge-danger" id="studentCount">Students:{{ studentCount }}</span>
            </div>
        </div>

    </div>

</nav>